    <header class="intro-header" style="background-color: #6E3667; padding-top: 60px">
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <%= render ShemereyPosts.PageView, "#{assigns[:conn].params["post"]}.html", conn: @conn %>
                </div>
            </div>
        </div>
    </article>

    <hr>
